Source: stne.dev-archive-keyring
Priority: important
Section: misc
Maintainer: Andrew Stone <a@stne.dev>
Build-Depends: debhelper (>= 12), gnupg
Standards-Version: 4.5.0

Package: stne.dev-archive-keyring
Architecture: all
Depends: ${misc:Depends}
Description: GnuPG archive keys for deb.stne.dev
	Package for stne.dev's archive keys
